/* start of header*/
.header{
  padding-top:100px;
  height: 500px;
  width: 95%;
  background-color: #E6E6FA;
  position:relative;
  margin-left: 50px;
  margin-top: 20px;
      }
nav > ul{
  display:flex;
  text-transform:capitalize;
}
nav > ul > li{
  list-style-type:none;
  margin-left: 100px;
  font-weight: bold;
}
nav > ul >li >a{
  text-decoration: none;
  color:black;
}
.eclipse-content >nav >ul >li{
  margin: 100px 0px 0px 50px ;
  font-weight: bold;
}
.eclipse-content >nav >ul >li>a{
  text-decoration: none;
  color:black;
}
.eclipse-content >nav >ul >li>img{
  margin-top: -80px;
  width: 140px;
}
.eclipse-content >nav >ul >li>h1{
  font-weight: bold;
}
.header > div> h1{
  margin-left:140px;
    color:#C9ECB5;
}
.header > div> h1 {
    color:#32CD32;
    }
.header > div> h1 > strong{
  color:#FFD77C;
}

.header > div> h2,p{
  margin-top:-15px;
  margin-left:140px;
  line-height:30px;
  font-size: 20px;

}
.header > div> button{
  margin-left:190px;
  border:none;
  border-radius:20px;
  padding:15px 25px;
  background-color:#6CBB40;
  color:#ffffff;
}
.header #image{
  height: 200px;
  width: 200px;
  margin:-170px 0px 0px 1258px;
  overflow:none;
}
.eclipse-content{
  background-color: #649549;
  border-bottom-left-radius: 900%;
  border-bottom-right-radius: 50%;
  position: absolute;
  height: 75%;
  width: 60%;
  right:0;
  top:0;
  overflow: hidden;
      } 
  
.eclipse_images {
  margin: -50px 20px 0px 0px;
  width: 400px;
  height: 400px;
  border-top: 3px dashed gray;
  border-right: 3px dashed gray;
  border-left: 3px dashed gray;
  border-radius: 50%;
  position: absolute;
  right: 20%;
    }
    
.eclipse_images img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -60px;   
    }
.eclipse_images #img_main{
  height: 200px;
  width: 200px;
  margin:-120px 0px 0px -100px;
  overflow:none;   
    }    
.eclipse_images img:nth-child(1) {
    transform: rotate(8deg) translateY(-200px);
    }    
.eclipse_images img:nth-child(2) {
   transform: rotate(55deg) translateY(-200px);
    }    
.eclipse_images img:nth-child(3) {
    transform: rotate(100deg) translateY(-200px);
    }    
.eclipse_images img:nth-child(4) {
    transform: rotate(-40deg) translateY(-200px);     
    }
.eclipse_images img:nth-child(5) {
    transform: rotate(-85deg) translateY(-200px);
    }   

/* end of header*/

/*start of content*/
.Eat_together{
  position:relative;
} 
.Eat_together > h2::first-letter{
  text-transform:uppercase;    
}
.Eat_together > h2{
  position:absolute;
  float:right;
  right:150px;
  top:280px;
  color:#FAA916;
  margin-right: 390px;
  }
.Eat_together > p{
  position:absolute;
  float:right;
  right:90px;
  top:350px;
  margin-right: 320px;
  text-align: center;    
  }
.Explore_menu{
  padding: 120px 20px;
  background-color: #eaf3e4;
  margin: 50px;
  width:80%;
  margin-left: 150px;
  height: 450px;
  }
.Explore_menu>h1{
  text-align: center;
  margin: -90px 0px -70px 0px;
  }
.Explore_menu>h1>span{
color:#649549;
  }
section {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 20px;
  background-color: #eaf3e4;
  } 
.Explore_menu #item {
  background: #ffffff;
  border-bottom-right-radius: 50px;
  width: 350px;
  margin: 50 30px 40px;
  }  
.Explore_menu #burger {
  padding:10px 0px 0px 20px;
  }    
.Explore_menu .image {
  margin: 0px 0px 0px -90px;
  position: absolute;
  }
.Explore_menu .image img{
  width:200px;
  height:150px;
  }
.Explore_menu .describe{
  text-align: center;
  font-size: 19px;
  line-height: 30px;  
  font-weight: normal;
  margin: 0px 0px 0px 70px;
  }
.Hot-deals{
  width:82%;
  background-color: #C9ECB5;
  height:650px;
  text-align:center;
  position: relative;
  margin-left:150px ;
  margin-top:-50px;
    } 
.Hot-deals #img1{
  position:absolute;
  float:left;
  top: -70px;
  left:10px;
  width:450px
  
  }
.Hot-deals #img2{
  position:absolute;
  left:65px;
  top:189px;
  width:650px  
    }
.Hot-deals > h1{    
  margin-left:-350px;
  padding-top: 60px;
    } 
.Hot-deals > h1 > strong,span{
  color:#6CB840;;
    } 
.Hot-deals > h2>span{
  position:absolute;
  top:230px;
  right:300px;
  font-size: 50px;  
    }
.Hot-deals >h3{
  margin-top:200px;
  margin-right:90px;
    }
.Hot-deals >h4{
  font-size: 18px;
  margin-top:30px;
  margin-right:70px;
  margin-top: -10px;    
    }
.Hot-deals > p{
  margin-top:10px;
    }
.Contact_us{
  background-color:FFD77C;
  height:500px;
  width:82%;
  margin-left: 150px;
  text-align:center;
  margin-top: -20px;
    }
.Contact_us > h1{
  padding-top: 40px;
  }
.Contact_us > h1 > span{
  color:#6CB840;
    }
.Contact_us > input[type=text]{
  border-radius: 20px;
  height: 38px;
  padding-left: 10px;
  width:400px;
  border:none;    
  }
.Contact_us > button{
  background-color:  #6CB840;
  color:#ffffff;
  border-radius: 20px;
  padding:10px 40px;
  border:none;
  font-size: 20px;
    }
    /*end of content*/
